{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Editer le réalisateur  {{ entity.firstname }} {{ entity.lastname }}</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
