{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-video-camera"></i>&nbsp;&nbsp;Les réalisateurs{% endblock %}


{% block content %}
<div class="table-light">

    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>{% if entities.isSorted('a.lastname') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Nom', 'a.lastname') }}</th>
                <th>Biographie</th>
                <th>{% if entities.isSorted('a.note') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Note', 'a.note') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('directors_show', { 'id': entity.id }) }}">{{ entity.firstname }} {{ entity.lastname }}</a></td>
                <td>{{ entity.biography }}</td>
                <td>
                    <span data-rating="{{ entity.note }}" class="rating"></span>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('directors_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>
                    <a class="btn btn-warning btn-sm" href="{{ path('directors_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="table-footer">
            <div class="table-caption">
                <div class="pull-right">
                {{ knp_pagination_render(entities) }}
                </div>
                <div class="pull-right">
                  {{ include('CinheticPublicBundle:Slots:display.html.twig') }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
        <hr />
            <a class="btn btn-danger" href="{{ path('directors_new') }}">
                Créer un nouveau réalisateur
            </a>

    {% endblock %}
