{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-plus"></i>&nbsp;&nbsp;Création de réalisateur{% endblock %}


{% block content %}
    {{ form_start(form)}}

	<div class="row">
     <div class="panel form-horizontal">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i> Présentation</span>
        </div>
        <div class="panel-body">

        <div class="col-sm-3">
            {{ form_row(form.firstname)}}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.lastname)}}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.file)}}
        </div>
        <div class="col-sm-1">
            {{ form_row(form.note)}}
        </div>
        <div class="col-sm-2">
            {{ form_row(form.dob)}}
        </div>
    </div>
    </div>
    </div>

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-labeled btn-lg btn-primary"><span class="btn-label icon fa fa-check"></span> Enregistrer</button>
    {{ form_end(form)}}

{% endblock %}



{% block javascripts %}
{{ parent() }}

    <script type="text/javascript">
        $('#file').pixelFileInput({ placeholder: 'Aucun fichier selectionné...' });

          $('.datepick').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd'
           });
           
    </script>
{% endblock %}