{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2 class="featurette-heading" style="margin-left: 0;">{{ entity.firstname }} {{ entity.lastname }}</h2>
            <p class="lead">{{ entity.biography|striptags|raw }}</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <h4>Films réalisés</h4>
    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}
    
    <hr class="featurette-divider">

    <a class="btn btn-primary" href="{{ path('directors_edit', { 'id': entity.id }) }}">
        Edit
    </a>
    {{ form(delete_form, {'attr' : {'style' : 'display:inline-block'} } ) }}
{% endblock %}
