{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Réalisateur {{ entity.firstname }} {{ entity.lastname }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Biographie</th>
                <td>{{ entity.biography|raw }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <hr />

    <h1>Films réalisés</h1>
    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}
    <hr />

    <a href="{{ path('directors_edit', { 'id': entity.id }) }}">
        Edit
    </a>
    {{ form(delete_form) }}
{% endblock %}
