{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block titlepage %}<i class="fa fa-video-camera"></i>&nbsp;&nbsp;Fiche du réalisateur {{ entity.firstname }} {{ entity.lastname }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="note note-info">
                <p lass="pull-left">{{ entity.firstname|title}} {{ entity.lastname|title }} - {{ entity.age }} ans</h4>
            </div>
            <p class="well"><strong>Biographie: </strong>{{ entity.biography|striptags|raw }}</p>
        </div>
    </div>

    <h3>Films réalisés</h3>
    <hr />
    
    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}
    

    <a class="btn btn-primary" href="{{ path('directors_edit', { 'id': entity.id }) }}">
        Edit
    </a>
    {{ form(delete_form, {'attr' : {'style' : 'display:inline-block'} } ) }}
{% endblock %}
