{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}

    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    <div class="btn-group">
        <div class="well">
            {#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">Sign in with Facebook</a>#}
            <img usemap="#socialmap"  src="http://rustleblog.files.wordpress.com/2013/05/flat-design-social-icon.png" />
        <map name="socialmap">
        {% for owner in hwi_oauth_resource_owners() %}
            {% if owner == "facebook" %}
                <a  href="{{ hwi_oauth_login_url(owner) }}">
                    <area shape="rect" coords="50,0,150,75" title="Facebook" alt="Facebook" href="{{ hwi_oauth_login_url(owner) }}" target="_self">
                    {#<img src="http://luxurytravelboutique.cruiseholidays.com/images/buttons/socialmedia/Facebook/Facebook-Buttons-56-1.png" />#}
                </a>
             {% elseif owner == "google" %}
                <a  href="{{ hwi_oauth_login_url(owner) }}">
                    <area shape="rect" coords="100,0,239,77" title="Google" alt="Google" href="{{ hwi_oauth_login_url(owner) }}" target="_self">
                    {#<img src="http://www.justinclick.com/assets/images/google_connect_button.png" />#}
                </a>
            {% elseif owner == "github" %}
                <a  href="{{ hwi_oauth_login_url(owner) }}">
                    <area shape="rect" coords="150,200,200,150" title="Github" alt="Github" href="{{ hwi_oauth_login_url(owner) }}" target="_self">

                    {#<img src="https://raw.github.com/bchanx/logos-in-pure-css/master/banner.png" />#}
                </a>
            {% elseif owner == "flickr" %}
                <a  href="{{ hwi_oauth_login_url(owner) }}">
                    <area shape="rect" coords="200,50,237,250" title="Flickr" alt="Flickr" href="{{ hwi_oauth_login_url(owner) }}" target="_self">

                    {#<img src="https://raw.github.com/bchanx/logos-in-pure-css/master/banner.png" />#}
                </a>
            {% elseif owner == "linkedin" %}
                <a  href="{{ hwi_oauth_login_url(owner) }}">
                    <area shape="rect" coords="0,50,50,238" title="Linkedin" alt="Linkedin" href="{{ hwi_oauth_login_url(owner) }}" target="_self">

                    {#<img src="https://raw.github.com/bchanx/logos-in-pure-css/master/banner.png" />#}
                </a>
            {% elseif owner == "twitter" %}
                <a  href="{{ hwi_oauth_login_url(owner) }}">
                    <area shape="rect" coords="0,0,50,50" title="Twitter" alt="Twitter" href="{{ hwi_oauth_login_url(owner) }}" target="_self">

                    {#<img src="http://37.media.tumblr.com/tumblr_l14y3rjwsG1qbv78mo1_250.png" />#}
                </a>
            {% endif  %}
        {% endfor %}
        </map>
        </div>
    </div>
{% endblock hwi_oauth_content %}
