{% block topmenu %}
<ul class="nav navbar-nav">
  <li {% if  app.request.attributes.get('_route') == "Cinhetic_public_homepage" %} class="active" {% endif %}><a href="{{ path('Cinhetic_public_homepage') }}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-user"></i> Acteurs</a></li>
    <li {% if  app.request.attributes.get('_route') == "directors" %} class="active" {% endif %}><a href="{{ path('directors') }}"><i class="glyphicon glyphicon-facetime-video"></i> Réalisateurs</a></li>
    <li {% if  app.request.attributes.get('_route') == "movies" %} class="active" {% endif %}><a  href="{{ path('movies') }}"><i class="glyphicon glyphicon-film"></i> Films</a></li>
    <li {% if  app.request.attributes.get('_route') == "categories" %} class="active" {% endif %}><a href="{{ path('categories') }}"><i class="glyphicon glyphicon-th-list"></i> Catégories</a></li>
    <li {% if  app.request.attributes.get('_route') == "cinema" %} class="active" {% endif %}><a href="{{ path('cinema') }}"><i class="glyphicon glyphicon-road"></i> Cinémas</a></li>
    <li  {% if  app.request.attributes.get('_route') == "sessions" or app.request.attributes.get('_route') == "tags" or app.request.attributes.get('_route') == "comments" or app.request.attributes.get('_route') == "apis" %} class="dropdown active" {% else %} class="dropdown"{% endif %}>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i> Plus <b class="caret"></b></a>
<ul class="dropdown-menu">
    <li {% if  app.request.attributes.get('_route') == "sessions" %} class="active" {% endif %}><a href="{{ path('sessions') }}"><i class="glyphicon glyphicon-calendar"></i> Séances</a></li>
    <li {% if  app.request.attributes.get('_route') == "tags" %} class="active" {% endif %}><a href="{{ path('tags') }}"><i class="glyphicon glyphicon-tags"></i> Tags</a></li>
    <li {% if  app.request.attributes.get('_route') == "comments" %} class="active" {% endif %}><a href="{{ path('comments') }}"><i class="glyphicon glyphicon-comment"></i> Commentaires</a></li>
    <li {% if  app.request.attributes.get('_route') == "apis" %} class="active" {% endif %}><a href="{{ path('apis') }}"><span class="label label-default"><strong>New!</strong></span> API Allociné</a></li>
</ul>

{% endblock %}