{% block topmenu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('Cinhetic_public_homepage') }}" class="navbar-brand"><i class="glyphicon glyphicon-th"></i> Cinhetic</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 1</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 2</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 3</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 4</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 5</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 6</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 7</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 8</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 9</a></li>
                    <li {% if  app.request.attributes.get('_route') == "actors" %} class="active" {% endif %}><a href="{{ path('actors') }}"><i class="glyphicon glyphicon-flag"></i> Jour 10</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br /> <br /><br /><br />
{% endblock %}

