{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="glyphicon glyphicon-calendar"></i>&nbsp;&nbsp;Séances{% endblock %}

{% block content %}
    
    <div class="table-light">
    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>{% if entities.isSorted('a.dateSession') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Date de session', 'a.dateSession') }}</th>
                <th>{% if entities.isSorted('m.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Film', 'm.title') }}</th>
                <th>{% if entities.isSorted('c.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Cinéma', 'c.title') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <i class="glyphicon glyphicon-time"></i> {% if entity.dateSession %}Le {{ entity.dateSession|date('Y-m-d') }} à {{ entity.dateSession|date('H:i') }}{% endif %}</td>
                <td>
                    <i class="glyphicon glyphicon-film"></i> <a href="{{ path('movies_show', {'id' : entity.movies.id}) }}">
                        {{ entity.movies.title|title }}
                    </a>
                </td>
                <td><a href="{{ path('cinema_show', {'id': entity.cinema.id }) }}"><span class="badge"><i class="glyphicon glyphicon-map-marker"></i> {{ entity.cinema.title|title }}</span></a></td>
                <td>

                        <a class="btn btn-primary btn-sm" href="{{ path('sessions_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>

                        <a class="btn btn-warning btn-sm" href="{{ path('sessions_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>

                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">
                <div class="alert alert-danger">
                    Pas de séances pour le moment.
            </div>
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
<div class="table-footer">
            <div class="table-caption">
                <div class="pull-right">
                {{ knp_pagination_render(entities) }}
                </div>
                <div class="pull-right">
                  {{ include('CinheticPublicBundle:Slots:display.html.twig') }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
    <hr />

    <a class="btn btn-danger" href="{{ path('sessions_new') }}">
        <i class="glyphicon glyphicon-plus"></i> Créer une séance
    </a>

    {% endblock %}
