{% extends 'EzapPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1><i class="glyphicon glyphicon-tags"></i>  Liste des tags [{{ entities|length }}]</h1>
    <hr />
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mot-clef</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tags_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>><i class="glyphicon glyphicon-search"></i> {{ entity.word }}</td>
                <td>

                        <a href="{{ path('tags_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>
                        <a href="{{ path('tags_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr />

    <a class="btn btn-danger" href="{{ path('tags_new') }}">
        <i class="glyphicon glyphicon-plus"></i>  Créer un tag
    </a>

    {% endblock %}
