{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}

<h1>Acteur {{ entity.name.given|convert_encoding('UTF-8', 'iso-8859-1') }} {{ entity.name.family|convert_encoding('UTF-8', 'iso-8859-1') }}</h1>
<hr />
<br />

<div class="well">
    <div class="row">
        <div class="col-md-3">
            <a class="fancybox" href="{{ entity.picture.href }}">
                <img class="img-thumbnail" src="{{ entity.picture.href }}" />
            </a>
        </div>
        <div class="col-md-8">
            <p>Né le <i>{{ entity.birthDate }} à {{ entity.birthPlace }}</i></p>
            {#<p>Nationalité: {{ entity.nationality[0] }}</p>#}
            <p>Role: {{ entity.activityShort|convert_encoding('UTF-8', 'iso-8859-1') }}</p>
            <p>Biographie:
                <div class="alert alert-block">
                 {{ entity.biography|convert_encoding('UTF-8', 'iso-8859-1')|raw }}
                </div>
            </p>
            <p>{{ entity.trailerEmbed|raw }}</p>
            {#<p>Lien: <a href="{{ entity.link.href }}">Lien ver son site</a></p>#}
            <h3>Participation</h3>
                {% include "CinheticPublicBundle:Api:_listbeta.html.twig" %}
        </div>
    </div>
</div>

{% endblock %}