{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}

<h1>Api Allociné with Guzzle</h1>
<hr />
<br />
    {% for entity in movies %}
        <h3>{% if entity.originalTitle is defined %}{{ entity.originalTitle }}{% endif %}</h3>
        <p>{% if entity.keywords is defined %} Mots-clefs: {{ entity.keywords }}{% endif %}</p>
        <p>{% if entity.productionYear is defined %} Année: {{ entity.productionYear }}{% endif %}</p>
        <p>{% if entity.releaseDate is defined %} Date de sortie: {{ entity.releaseDate }}{% endif %}</p>
        <p>{% if entity.directors is defined %} Réalisateur: {{ entity.directors }}{% endif %}</p>
        <p>{% if entity.actors is defined %} Acteurs: {{ entity.actors }}{% endif %}</p>
        <p>{% if entity.synopsisShort is defined %} Synopsis: {{ entity.synopsisShort }}{% endif %}</p>
        <p>{% if entity.trailerEmbed is defined %} Trailer: {{ entity.trailerEmbed|raw }}{% endif %}</p>
    {% endfor %}
{% endblock %}