{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% import 'LexikPayboxBundle:Macro:paybox.html.twig' as paybox %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-carousel.min.js"></script>
{% endblock %}

{% block content %}

    {# {{ render(controller('CinheticPublicBundle:Movies:carousselMovies')) }} #}
   
    <div class="row">
        <div class="col-lg-6">
            {{ render(controller('CinheticPublicBundle:Movies:currentMovies')) }}
        </div>

        <div class="col-lg-6">
            {{ render(controller('CinheticPublicBundle:Movies:starsMovies')) }}
        </div>
    </div>

    <div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-inverse" id="dashboard-recent">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="panel-title-icon fa fa-comments"></i>Commentaires</span>
                                <div class="panel-heading-controls">
                                        {{ knp_pagination_render(comments) }} 
                                </div>
                            </div> <!-- / .panel-heading -->
                            <div class="tab-content">
                                <div class="widget-comments panel-body tab-pane no-padding fade active in" id="dashboard-recent-comments">
                                    <div class="slimScrollDiv">
                                        {% for comment in comments %}
                                            <div class="comment">
                                                <div class="comment-body">
                                                    <div class="comment-by">
                                                        <a href="#" title="">{{ comment.user.username }}</a> sur le film <a href="#" title="">{{ comment.movie.title }}</a>
                                                    </div>
                                                    <div class="comment-text">
                                                        {{ comment.content }}
                                                    </div>
                                                    <div class="comment-actions">
                                                        <a href="#"><i class="fa fa-times"></i>Supprimer</a>
                                                        <a href="#"><i class="fa fa-pencil"></i>Editer</a>
                                                        <span class="pull-right">{{ comment.dateCreated|ago }}</span>
                                                    </div>
                                                </div> <!-- / .comment-body -->
                                            </div> <!-- / .comment -->
                                        {% else %}
                                        <div class="alert">
                                                <strong>Attention</strong> Aucun commentaire a été chargé
                                        </div>
                                        {% endfor %}
                                    </div><div class="slimScrollBar"></div></div>
                                </div> <!-- / .widget-comments -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel colourable" >
                            <div class="panel-heading">
                                <span class="panel-title">
                                    <i class="panel-title-icon fa fa-twitter"></i>Allocine Tweets
                                </span>
                            </div> <!-- / .panel-heading -->
                            <div class="panel-body">
                           <table class="table table-striped">
                                <tbody>
                                    {% for tweet in tweets %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-twitter-square"></i>
                                            </td> 
                                            <td> 
                                                {{ tweet.text|raw }}</div>
                                            </td> <!-- / .thread -->
                                        </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="2">
                                            <div class="alert">
                                                <strong>Attention</strong> Aucun tweets n'a été chargé
                                            </div>
                                        </td>
                                    <tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                    </div>
                </div>
    </div>
    <div class="page-footer">
        <div class="row">
             <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="glyphicon glyphicon-bookmark"></i> Les catégories de films</span>
                            <div class="panel-heading-controls">
                                <div class="panel-heading-icon"><i class="fa fa-inbox"></i></div>
                            </div>
                        </div>
                        <div class="panel-body">
                           {% for entity in categories %}
                            <span class="label label-primary label-tag">
                                {{ entity.title }}</span>
                        {% endfor %}
                        </div>
                    </div>
             </div>

             <div class="col-md-6">
                 <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="panel-title"><i class="glyphicon glyphicon-bookmark"></i> Les tags de films</span>
                            <div class="panel-heading-controls">
                                <div class="panel-heading-icon"><i class="fa fa-inbox"></i></div>
                            </div>
                        </div>
                        <div class="panel-body">
                           {% for entity in tags %}
                                <span class="label label-primary label-tag">{{ entity.word }}</span>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
        <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

    </div>
{% endblock %}