{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-carousel.min.js"></script>
{% endblock %}

{% block content %}

    {{ render(controller('CinheticPublicBundle:Movies:carousselMovies')) }}

    <div class="btn-group">
        <h3><i class="glyphicon glyphicon-bookmark"></i> Les 5 Prochaines séances</h3>
        {% for entity in seances %}
          <a class="btn btn-default" href="{{ path('movies_show', {'id' : entity.movies.id}) }}"> {{ entity.movies.title }} le  à {{ entity.cinema.title }} le {{ entity.dateSession|date('d/m/Y H:i') }}</a>
        {% endfor %}
    </div>

    <div class="btn-group">
        <h3><i class="glyphicon glyphicon-map-marker"></i> Villes</h3>
        {% for entity in cities %}
            <a class="btn btn-default" href="{{ path('movies_cities', {'ville' : entity.ville}) }}">{{ entity.ville }}</a>
        {% endfor %}
    </div>

    <br />
    <hr />
    <div class="row marketing">
        <div class="col-lg-6">
            {{ render(controller('CinheticPublicBundle:Movies:currentMovies')) }}
        </div>

        <div class="col-lg-6">
            {{ render(controller('CinheticPublicBundle:Movies:starsMovies')) }}
        </div>
    </div>

    <br />
    <hr />
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-th-large"></i> Tous les films de Cinhetic</h1>
    </div>
    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}
    <hr />
    <br />

    <div class="page-footer">
        <div class="alert alert-block alert-sucess">
            <h3><i class="glyphicon glyphicon-bookmark"></i> Les catégories de films</h3>
                {% for entity in categories %}
                   <span class="label label-default"><a href="{{ path('categories_show', {'id': entity.id}) }}">{{ entity.title }}</a></span>
                {% endfor %}
        </div>

        <div class="alert alert-block alert-sucess">
            <h3><i class="glyphicon glyphicon-bookmark"></i> Les tags de films</h3>
                {% for entity in tags %}
                    <span class="label label-default"><a href="{{ path('tags_show', {'id' : entity.id}) }}">{{ entity.word }}</a></span>
                {% endfor %}
        </div>
    </div>
{% endblock %}