{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% import 'LexikPayboxBundle:Macro:paybox.html.twig' as paybox %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-carousel.min.js"></script>
{% endblock %}

{% block content %}

    {{ render(controller('CinheticPublicBundle:Movies:carousselMovies')) }}

    <br />
    <br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                {% for entity in seances %}
                    <div class="col-lg-4">
                            <img class="img-circle" data-src="{{ base_url ~ imgmovies ~ entity.movies.image }}" alt="140x140" src="{{ base_url ~ imgmovies ~ entity.movies.image }}" style="width: 140px; height: 140px;">
                            <h2>{{ entity.movies.title }}</h2>
                            <p>le  à {{ entity.cinema.title }} le {{ entity.dateSession|date('d/m/Y') }} à {{ entity.dateSession|date('H:i') }}<</p>
                            <p><a class="btn btn-default" href="#" role="button">Voir en détail »</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <br />
    <hr />
    <div class="row marketing">
        <div class="col-lg-6">
            {{ render(controller('CinheticPublicBundle:Movies:currentMovies')) }}
        </div>

        <div class="col-lg-6">
            {{ render(controller('CinheticPublicBundle:Movies:starsMovies')) }}
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="page-footer">
        <div class="alert alert-block alert-sucess">
            <h3><i class="glyphicon glyphicon-bookmark"></i> Les catégories de films</h3>
            {% for entity in categories %}
                <span class="label label-default"><a href="{{ path('categories_show', {'id': entity.id}) }}">{{ entity.title }}</a></span>
            {% endfor %}
        </div>

        <div class="alert alert-block alert-sucess">
            <h3><i class="glyphicon glyphicon-bookmark"></i> Les tags de films</h3>
            {% for entity in tags %}
                <span class="label label-default"><a href="{{ path('tags_show', {'id' : entity.id}) }}">{{ entity.word }}</a></span>
            {% endfor %}
        </div>
        <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

    </div>
{% endblock %}