{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="glyphicon glyphicon-add"></i>&nbsp;&nbsp;Ajouter le tags{% endblock %}

{% block content %}

	{{ form_start(form)}}
        <div class="row">
                    <div class="row">
                <div class="panel form-horizontal">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i> Détail</span>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                {{ form_row(form.word) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.movies) }}
            </div>
        </div>
        </div>
        </div>
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-labeled btn-lg btn-primary"><span class="btn-label icon fa fa-check"></span> Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
