{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Voir le Tags {{ entity.word }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Mots-clefs</th>
                <td>{{ entity.word }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Films associés à ce tags</h3>
        {% for entity in entity.movies %}
             <div class="well">
                    <h3>
                        <i class="glyphicon glyphicon-facetime-video"></i>
                        <a href="{{ path('cinema_show', {'id' : entity.id}) }}">
                            {{ entity.title|title }}
                        </a>
                        <a href="{{ path('categories_show', {'id' : entity.category.id}) }}">
                            - {{ entity.category.title|title }}
                        </a>
                    </h3>
            </div>
        {% endfor %}
    <div class="clear"></div>
    <hr />
        <a class="btn" href="{{ path('tags_edit', { 'id': entity.id }) }}">
            Editer le tag
        </a>
    {{ form(delete_form) }}
{% endblock %}
