{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Voir le Tags {{ entity.word }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Word</th>
                <td>{{ entity.word }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Les films associés à ce tags</h3>
        {% for entity in entity.movies %}
         <div class="well">
                    <h3>
                        <i class="glyphicon glyphicon-facetime-video"></i>
                        <a href="{{ path('cinema_show', {'id' : entity.id}) }}">
                            {{ entity.title|title }}
                        </a>
                        <a href="{{ path('categories_show', {'id' : entity.category.id}) }}">
                            - {{ entity.category.title|title }}
                        </a>
                    </h3>
            </div>
        {% endfor %}
    <div class="clear"></div>
    <hr />

        <ul class="record_actions">
    <li>
        <a href="{{ path('tags') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tags_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
