
{% block commentMovie %}
<div class="row">
    <div class="col-md-12">
         <form action="{{ path('comments_movies') }}" id="leave-comment-form" method="post" class="comment-text no-padding no-border expanding-input">
            <div class="row">{{ form_widget(form.content,{'attr': {'class' : "form-control expanding-input-target" }}) }}</div>
            {{ form_widget(form.movie,{'attr': {'value' : id }}) }}
            {{ form_widget(form._token) }}
            <div class="expanding-input-hidden expanding-input-content" style="margin-top: 10px;">
                <div class="row">{{ form_row(form.note) }}</div>
                <br />
                <button class="btn btn-primary pull-right">Laisser un commentaire</button>
            </div>
        </form>
    </div>
</div>
    <hr />
        <script type="text/javascript">
        init.push(function () {
            $('#profile-tabs').tabdrop();

            $("#leave-comment-form").expandingInput({
                target: 'textarea',
                hidden_content: '> div',
                placeholder: 'Write message',
                onAfterExpand: function () {
                    $('#leave-comment-form textarea').attr('rows', '3').autosize();
                }
            });
        })
        window.PixelAdmin.start(init);
    </script>

{% endblock %}
