{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-comments"></i>&nbsp;&nbsp;Commentaires{% endblock %}


{% block content %}

<div class="panel widget-comments">
                    <div class="panel-heading">
                        <div class="pull-right">
                            {{ knp_pagination_render(entities) }}
                        </div>
                        <span class="panel-title"><i class="panel-title-icon fa fa-comment-o"></i>Derniers comentaires</span>
                        <div class="clearfix"></div>
                    </div> <!-- / .panel-heading -->
                    <div class="panel-body">

                    {% for entity in entities %}
                        <div class="comment">
                            <img src="assets/demo/avatars/5.jpg" alt="" class="comment-avatar">
                            <div class="comment-body">
                                <div class="comment-by">
                                    <a href="#" title="">{{ entity.user.username }}</a> a commenté sur <a href="#" title="">{{ entity.movie.title }}</a>
                                </div>
                                <div class="comment-text">
                                   {{ entity.content }}
                                </div>
                                <div class="comment-actions">
                                    <a href="#"><i class="fa fa-pencil"></i>Editer</a>
                                    <a href="#"><i class="fa fa-times"></i>Supprimer</a>
                                    <span class="pull-right">{{ entity.dateCreated|ago }}</span>
                                </div>
                            </div> <!-- / .comment-body -->
                        </div> <!-- / .comment -->
                         {% endfor %}

                        

                    </div> <!-- / .panel-body -->
                </div>

    {% endblock %}
