{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block content %}
    <h1> <i class="glyphicon glyphicon-comment"></i> Liste des commentaires</h1>

    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Commentaire</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comments_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.note }}</td>
                <td><i>{{ entity.content }}</i></td>
                <td><i class="glyphicon glyphicon-calendar"></i> {% if entity.dateCreated %}{{ entity.dateCreated|ago }}{% endif %}</td>
                <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('comments_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>

                        <a class="btn btn-warning btn-sm" href="{{ path('comments_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('comments_new') }}" class="btn btn-danger">
        Crée un nouveau commentaire
    </a>

    {% endblock %}
