{% extends 'EzapPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Le film {{ entity.title|title }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type de film</th>
                <td>{{ entity.typeFilm }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ entity.synopsis|raw }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description|raw }}</td>
            </tr>
            <tr>
                <th>Trailer</th>
                <td>{{ entity.trailer|raw }}</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>{{ entity.languages }}</td>
            </tr>
            <tr>
                <th>Distributeur</th>
                <td>{{ entity.distributeur }}</td>
            </tr>
            <tr>
                <th>Bo</th>
                <td>{{ entity.bo }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ entity.annee }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ entity.budget }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ entity.duree }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ entity.dateRelease|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Note de presse</th>
                <td>{{ entity.notePresse }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ entity.cover }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Les acteurs</h4>
    {% for entity in entity.actors %}
        <div class="alert alert-warning">
            {{ entity.firstname|title }}
            {{ entity.lastname|title }}
        </div>
    {% endfor %}
    <h4>Les réalisateurs</h4>
    {% for entity in entity.directors %}
        <div class="alert alert-warning">
            {{ entity.firstname|title }}
            {{ entity.lastname|title }}
        </div>
    {% endfor %}
    <h4>Les cinémas qui le diffuse:</h4>
    {% for entity in entity.cinemas %}
        <div class="alert alert-warning">
            {{ entity.title|title }} à
            {{ entity.ville|title }}
        </div>
    {% endfor %}
    <h4>Media:</h4>
    {% for entity in entity.medias %}
        <div class="thumbnail">
            {% if entity.nature == "1" %}
                <img class="thumbnail" src="{{ entity.picture|raw }}" />
            {% else %}
                {{ entity.video|raw }}
            {% endif %}
        </div>
    {% endfor %}
    <h4>Tags asssociés:</h4>
    {% for entity in entity.tags %}
        <span class="label label-default">{{ entity.word }}</span>
    {% endfor %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('movies') }}">
            Revenir à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('movies_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
