{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block content %}
    <h1> <i class="glyphicon glyphicon-user"></i> Liste des acteurs [{{ entities|length }}]</h1>
    <hr />

    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Biographie</th>
                <th style="width:85px">Création</th>
                <th style="width:86px">Nb de films</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('actors_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('actors_show', { 'id': entity.id }) }}">{{ entity.firstname }} {{ entity.lastname }}</a></td>
                <td><span class="text-danger">{{ entity.city }}</span></td>
                <td>{{ entity.biography|raw|truncate(200,true,'...') }}</td>
                <td><small>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d') }}{% endif %}</small></td>
                <td><p class="text-center">{{ entity.movies|length|default('0') }} <i class="glyphicon glyphicon-download-alt"></i></p></td>

                <td>

                        <a  href="{{ path('actors_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>

                        <a  href="{{ path('actors_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

    <a href="{{ path('actors_new') }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-plus"></i>  Créer un nouveau acteur
    </a>

    {% endblock %}
