{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2 class="featurette-heading" style="margin-left: 0;">{{ entity.firstname|title}} {{ entity.lastname|title }}</h2>
            <p class="lead">{{ entity.biography|striptags|raw }}</p>
            <p class="lead">Il est à ce jour {{ entity.roles|striptags|raw }}. Il a été récompensé de  {{ entity.recompenses|striptags|raw }} et à tourné dans plus de {{ entity.movies|length|default('0') }} films.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <h4>Films joués</h4>
    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}
    
    <hr class="featurette-divider">

    <a class="btn btn-primary" href="{{ path('actors_edit', { 'id': entity.id }) }}">
        Editer
    </a>
    {{ form(delete_form, {'attr' : {'style' : 'display:inline-block'} } ) }}
{% endblock %}
