{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-search"></i>&nbsp;&nbsp;Fiche de {{ entity.firstname|title}} {{ entity.lastname|title }}{% endblock %}


{% block content %}

     <div class="row">
        <a href="{{ path('actors_edit', { 'id': entity.id }) }}" class="pull-right btn btn-primary btn-md btn-labeled">
            <span class="btn-label icon fa fa-plus"></span>  Editer cet acteur
        </a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="note note-info">
                <p lass="pull-left">{{ entity.firstname|title}} {{ entity.lastname|title }} - {{ entity.age }} ans</h4>
                <p class="pull-right"><i>Né le {{ entity.dob|date('d/m/Y') }} à {{ entity.city }}</i></p>
            </div>
            <p class="well"><strong>Biographie: </strong>{{ entity.biography|striptags|raw }}</p>
            <p class="well"><strong>Professions: </strong> <i>{{ entity.roles|striptags|raw }}</i>. <br /><strong>Récompenses: </strong>  {{ entity.recompenses|striptags|raw }} et à tourné dans plus de {{ entity.movies|length|default('0') }} films.</p>
        </div>
    </div>

    <h3>Films joués</h3>
    <hr />
    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
