
<div id="listmovies">
    <div class="row">
        {% for entity in movies %}
            <div class="col-md-10 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>
                            <i class="glyphicon glyphicon-facetime-video"></i>
                            <a href="{{ path('movies_show', {'id' : entity.id}) }}">
                                {{ entity.title|title }}
                            </a>
                            <span class="star" data-number="{{ entity.notePresse }}" data-score="{{ entity.notePresse }}"></span>
                           {% if entity.category.id is defined %}
                                <a href="{{ path('categories_show', {'id' : entity.category.id}) }}">
                                    - {{ entity.category.title|title }}
                                </a>
                            {% endif %}
                        </h3>
                        <hr />
                        <div class="clear">
                            <span class="pull-right">
                                {% if paybox is defined %}
                                    <form action="{{ url }}" method="post">
                                        {{ paybox.form(form) }}
                                        <button class="btn btn-info" type="submit"> <i class="glyphicon glyphicon-euro"></i> Pré-commander ce film en Blue-Ray</button>
                                    </form>
                                {% endif %}
                            </span>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#detail" data-toggle="tab">Détail</a></li>
                            <li><a href="#trailer" data-toggle="tab">Trailer</a></li>
                            <li><a href="#acteurs" data-toggle="tab">Acteurs</a></li>
                            <li><a href="#realisateurs" data-toggle="tab">Réalisateurs</a></li>
                            <li><a href="#cinemas" data-toggle="tab">Cinémas</a></li>
                            <li><a href="#commentaires" data-toggle="tab">Commentaires</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="detail">

                                <p><i class="glyphicon glyphicon-flag"></i> Langue : <i>{{ entity.bo }}</i></p>
                                <p><i class="glyphicon glyphicon-thumbs-up"></i> Note : {{ entity.notePresse }}/5</p>
                                <p><i class="glyphicon glyphicon-usd"></i> Budget : {{ entity.budget }} <b>€</b></p>
                                <p><i class="glyphicon glyphicon-time"></i> Date de sortie : {{entity.dateRelease|date('d/m/Y')}} - {{ entity.annee|title }} </p>
                                <p><span class="glyphicon glyphicon-calendar"></span> Année : {{entity.annee }}</p>
                                <p><i class="glyphicon glyphicon-comment"></i> Synopsis : {{ entity.synopsis }}</p>
                                <p><i class="glyphicon glyphicon-list-alt"></i> Film : {{ entity.description|truncate(600, true, '...') }} </p>
                            </div>
                            <div class="tab-pane" id="trailer">
                                <i><i class="glyphicon glyphicon-bookmark"></i> Durée: {{ entity.duree }}h.</i>
                                <i><i class="glyphicon glyphicon-bookmark"></i> Type de film: {{ entity.typeFilm|title }}</i>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thumbnail">
                                            {{ entity.trailer|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="acteurs">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h2 class="">Les acteurs</h2>
                                         {% for entity in entity.actors %}
                                            <p class=""><a href="{{ path('actors_show', {'id' : entity.id}) }}">{{ entity.firstname|title }}
                                            {{ entity.lastname|title }}</a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="realisateurs">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h2 class="">Les réalisateurs</h2>
                                          {% for entity in entity.directors %}
                                            <p class=""><a href="{{ path('directors_show', {'id' : entity.id}) }}">{{ entity.firstname|title }}
                                            {{ entity.lastname|title }}</a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="cinemas">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h2 class="">Les cinémas qui le diffuse</h2>
                                          {% for entity in entity.cinemas %}
                                            <p class=""><a href="{{ path('cinema_show', {'id' : entity.id}) }}">{{ entity.title|title }} à
                                            {{ entity.ville|title }}</a></p>
                                        {% endfor %}
                                    </div>

                                    <div class="col-md-5">
                                        <h2 class="">Tags asssociés</h2>
                                          {% for entity in entity.tags %}
                                            <p class=""><a href="{{ path('tags_show', {'id' : entity.id}) }}">{{ entity.word }}</a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="commentaires">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2><i class="glyphicon glyphicon-comment"></i> Liste des commentaires</h2>
                                        <div class="widget-article-comments tab-pane panel no-padding no-border fade active in" id="profile-tabs-board">

                            <div class="comment">
                                <div class="comment-body">
                                    {{ render(controller('CinheticPublicBundle:Comments:commentMovie', {'id' : entity.id})) }}
                                </div> 
                           
                            {% for entity in entity.comments %}
                                <div class="comment">
                                    <div class="comment-body">
                                        <div class="comment-text">
                                            <div class="comment-heading">
                                                <a href="#" title="">{{ entity.user.username|truncate(30,'...', true) }}</a><span> Il y a {{ entity.dateCreated|ago }}</span>
                                            </div>
                                            {{ entity.content }}
                                        </div>
                                        <div class="comment-footer">
                                            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>&nbsp;&nbsp;
                                            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                                            &nbsp;&nbsp;·&nbsp;&nbsp;
                                            <a href="#">Répondre</a>
                                        </div>
                                    </div> <!-- / .comment-body -->
                                </div> <!-- / .comment -->
                            {% endfor %} #}
                        </div>
                    </div>
                </div>
            </div>
        </div>






            </div>
        </div>
    </div>

        {% else %}
            <div class="alert alert-warning">
                <i class="glyphicon glyphicon-exclamation-sign"></i> Il n'y a pas de film
            </div>
        {% endfor %}
    </div>
</div>

{{ knp_pagination_render(movies) }}

