{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa fa-pencil"></i>&nbsp;&nbsp;Editer le film {{ entity.title|title }}{% endblock %}

{% block content %}

    {{ form_errors(form) }}

    <form method="post" action="{{ path('movies_update', {'id' : entity.id}) }}" id="handlemovie" novalidate="novalidate" enctype="multipart/form-data">
        
<div class="panel form-horizontal">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i> Présentation</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.typeFilm) }}
                </div>
            </div>
            {{ form_row(form.synopsis) }}
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="panel form-horizontal">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i> Description</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.file) }}
                 {% if entity.image is not empty %}
                    <a class="btn btn-success btn-labeled pull-right" data-toggle="modal" data-target="#modal-blurred-img"><span class="btn-label icon fa fa-search"></span>
                        Voir l'image actuelle</a>
                    
                    <div id="modal-blurred-img" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ base_url ~ imgmovies ~ entity.image }}" alt="...">
                                </div>
                            </div> <!-- / .modal-content -->
                        </div> <!-- / .modal-dialog -->
                    </div> <!-- / .modal -->
                {% endif %}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.trailer) }}
                    {% if entity.trailer is not empty %}
                        <a class="btn btn-success btn-labeled pull-right" data-toggle="modal" data-target="#modal-blurred-trailer"><span class="btn-label icon fa fa-search"></span>
                            Voir le trailer actuel</a>
                        
                        <div id="modal-blurred-trailer" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {{ entity.trailer|raw }}
                                    </div>
                                </div> <!-- / .modal-content -->
                            </div> <!-- / .modal-dialog -->
                        </div> <!-- / .modal -->
                    {% endif %}
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.languages) }}
                </div>
                <div class="col-sm-2">
                    {{ form_row(form.distributeur) }}
                </div>
                <div class="col-sm-2">
                    {{ form_row(form.bo) }}
                </div>
                <div class="col-sm-1">
                    {{ form_row(form.annee) }}
                </div>
                <div class="col-sm-1">
                    {{ form_row(form.budget) }}
                </div>
                <div class="col-sm-1">
                    {{ form_row(form.duree) }}
                </div>
                <div class="col-sm-2">
                    {{ form_row(form.dateRelease) }}
                </div>
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Caractéristiques</span>
                </div>
                <div class="panel-body">
                    {{ form_row(form.category) }}
                    {{ form_row(form.notePresse) }}

                    <label class="checkbox-inline">
                        {{ form_widget(form.visible) }}
                        <span class="lbl">Visible ?</span>
                    </label>
                    <label class="checkbox-inline">
                        {{ form_widget(form.cover) }}
                        <span class="lbl">En couverture ?</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Relations</span>
                </div>
                <div class="panel-body">
                    {{ form_row(form.actors) }}
                    {{ form_row(form.cinemas) }}
                    {{ form_row(form.directors) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Extras</span>
                </div>
                <div class="panel-body">
                    {{ form_row(form.moviesRelated) }}
                    {{ form_row(form.tags) }}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Vidéos</span>
                </div>
                <div class="panel-body">
                    <div class="row-fluid">
                        <ul class="medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e }}">
                            {% for media in form.medias %}
                                <li>{{ form_row(media.video) }}</li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
     </div>

    {{ form_widget(form._token) }}

    <button type="submit" class="btn btn-labeled btn-lg btn-primary"><span class="btn-label icon fa fa-check"></span> Enregistrer</button>
</form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
     {% javascripts '@CinheticPublicBundle/Resources/public/js/medias.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">


        $('#file').pixelFileInput({ placeholder: 'Aucun fichier selectionné...' });
        $("#languages").select2({
            allowClear: true,
            placeholder: "Selectionnez..."
        });
        $('.datepick').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd'
           });
    </script>
{% endblock %}