{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa fa-pencil"></i>&nbsp;&nbsp;Editer le film {{ entity.title|title }}{% endblock %}

{% block content %}

    {{ form_errors(form) }}

    <form method="post" action="{{ path('movies_update', {'id' : entity.id}) }}" id="handlemovie" novalidate="novalidate" enctype="multipart/form-data">
        
<div class="panel form-horizontal">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i> Présentation</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.typeFilm) }}
                </div>
            </div>
            {{ form_row(form.synopsis) }}
            {{ form_row(form.description) }}
        </div>
    </div>

    <div class="panel form-horizontal">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i> Internationalisation</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.file) }}
                 {% if entity.image is not empty %}
                    <a class="btn btn-success btn-labeled pull-right" data-toggle="modal" data-target="#modal-blurred-img"><span class="btn-label icon fa fa-search"></span>
                        Voir l'image actuelle</a>
                    
                    <div id="modal-blurred-img" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ base_url ~ imgmovies ~ entity.image }}" alt="...">
                                </div>
                            </div> <!-- / .modal-content -->
                        </div> <!-- / .modal-dialog -->
                    </div> <!-- / .modal -->
                {% endif %}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.trailer) }}
                    {% if entity.trailer is not empty %}
                        <a class="btn btn-success btn-labeled pull-right" data-toggle="modal" data-target="#modal-blurred-trailer"><span class="btn-label icon fa fa-search"></span>
                            Voir le trailer actuel</a>
                        
                        <div id="modal-blurred-trailer" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {{ entity.trailer|raw }}
                                    </div>
                                </div> <!-- / .modal-content -->
                            </div> <!-- / .modal-dialog -->
                        </div> <!-- / .modal -->
                    {% endif %}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group no-margin-hr">
                        {{ form_row(form.languages) }}
                    </div>
                </div><!-- col-sm-6 -->
                <div class="col-sm-3">
                    <div class="form-group no-margin-hr">
                        {{ form_row(form.distributeur) }}
                    </div>
                </div><!-- col-sm-6 --> 
                    <div class="col-sm-2">
                        <div class="form-group no-margin-hr">
                        {{ form_row(form.bo) }}
                        </div>
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-2">
                        <div class="form-group no-margin-hr">
                        {{ form_row(form.budget) }}
                        </div>
                    </div><!-- col-sm-6 -->
            </div>

             <div class="row">
                <div class="col-sm-2">
                    <div class="form-group no-margin-hr">
                        {{ form_row(form.annee) }}
                    </div>
                    </div><!-- col-sm-6 -->
                     <div class="col-sm-2">
                        <div class="form-group no-margin-hr">
                        {{ form_row(form.duree) }}
                        </div>
                    </div><!-- col-sm-6 -->
                    <div class="col-sm-3">
                        <div class="form-group no-margin-hr">
                        {{ form_row(form.dateRelease) }}
                        </div>
                    </div><!-- col-sm-6 -->
            </div>



         </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Caractéristiques</span>
                </div>
                <div class="panel-body">
                    {{ form_row(form.category) }}
                    {{ form_row(form.notePresse) }}

                    <label class="checkbox-inline">
                        {{ form_widget(form.visible) }}
                        <span class="lbl">Visible ?</span>
                    </label>
                    <label class="checkbox-inline">
                        {{ form_widget(form.cover) }}
                        <span class="lbl">En couverture ?</span>
                    </label>
                    <label class="checkbox-inline">
                        {{ form_widget(form.shop) }}
                        <span class="lbl">Mis en vente ?</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Relations</span>
                </div>
                <div class="panel-body">
                    {{ form_row(form.actors) }}
                    {{ form_row(form.cinemas) }}
                    {{ form_row(form.directors) }}
                </div>
            </div>
        </div>
    </div>



<div class="row">
<div class="col-sm-12">
<div class="panel form-horizontal panel-warning">
<div class="panel-heading">
    <span class="panel-title"><i class="glyphicon glyphicon-picture"></i> Medias</span>
</div>
<div class="panel-body">
        <div class="row">
 <div id="medias">
     <div class="row">
        {% for media in entity.medias %}
            <div class="col-lg-3 col-sm-6 col-xs-12">
               <a data-toggle="modal" data-target="#modal-blurred-img{{media.id}}">
                    {% if media.nature  == "1" %}
                        <img src="{{ base_url ~ imgmedia ~ media.picture|thumb }}" class="thumbnail img-responsive">
                     {% else %}
                        {{ media.video|raw }}
                     {% endif %}
               </a>
                    
                <div id="modal-blurred-img{{media.id}}" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                      {% if media.nature  == "1" %}
                        <img src="{{ base_url ~ imgmedia ~ media.picture }}">
                     {% else %}
                        {{ media.video|raw }}
                     {% endif %}                           
                   </div>
                        </div>
                    </div> 
                </div> 
            </div>
            {% else %}
                <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Pas encore de media.
                </div>
        {% endfor %}
     </div>
     <div class="row">
        <div id="dropzonejs-example" class="dropzone-box">
            <div class="dz-default dz-message">
                <i class="fa fa-cloud-upload"></i>
                Déposer les films ici<br><span class="dz-text-small">ou cliquez vos médias ici</span>
            </div>
            <form action="{{ path('movies_upload', {'id': entity.id }) }}" method="post"  enctype="multipart/form-data">
                <div class="fallback">
                    <input name="file" type="file" multiple="multiple" />
                </div>
            </form>
        </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
        <div class="row">
        <div class="col-sm-12">
           <div class="panel form-horizontal panel-info">
            <div class="panel-heading">
                <span class="panel-title"><i class="fa fa-shopping-cart"></i> E-Shop</span>
            </div>
            <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group no-margin-hr">
                               {{ form_row(form.shopMode) }}
                                </div>
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="form-group no-margin-hr">
                                   {{ form_row(form.shopTypeDvd) }}
                                </div>
                            </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                         <div class="col-sm-2">
                                <div class="form-group no-margin-hr">
                               {{ form_row(form.taxe) }}
                                </div>
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-3">
                            <div class="form-group no-margin-hr">
                               {{ form_row(form.shopDate) }}
                            </div>
                        </div>
                       <div class="col-sm-3">
                            <div class="form-group no-margin-hr">
                               {{ form_row(form.ref) }}
                                </div>
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-2">
                            <div class="form-group no-margin-hr">
                               {{ form_row(form.price) }}
                            </div>
                        </div>
                         <div class="col-sm-2">
                                <div class="form-group no-margin-hr">
                               {{ form_row(form.quantity) }}
                                </div>
                         </div>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Extras</span>
                </div>
                <div class="panel-body">
                    {{ form_row(form.moviesRelated) }}
                    {{ form_row(form.tags) }}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i> Vidéos</span>
                </div>
                <div class="panel-body">
                    <div class="row-fluid">
                        <ul class="medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e }}">
                            {% for media in form.medias %}
                                <li>{{ form_row(media.video) }}</li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
     </div>

    {{ form_widget(form._token) }}

    <button type="submit" class="btn btn-labeled btn-lg btn-primary"><span class="btn-label icon fa fa-check"></span> Enregistrer</button>
</form>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
     {% javascripts '@CinheticPublicBundle/Resources/public/js/medias.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        init.push(function () {
                        $("#dropzonejs-example").dropzone({
                            url:  "{{ path('movies_upload', {'id': entity.id }) }}",
                            paramName: "file", // The name that will be used to transfer the file
                            maxFilesize: 0.5, // MB
                            addRemoveLinks : true,
                            dictResponseError: "Can't upload file!",
                            autoProcessQueue: true,
                            thumbnailWidth: 138,
                            thumbnailHeight: 120,

                            previewTemplate: '<div class="dz-preview dz-file-preview"><div class="dz-details"><div class="dz-filename"><span data-dz-name></span></div><div class="dz-size">File size: <span data-dz-size></span></div><div class="dz-thumbnail-wrapper"><div class="dz-thumbnail"><img data-dz-thumbnail><span class="dz-nopreview">No preview</span><div class="dz-success-mark"><i class="fa fa-check-circle-o"></i></div><div class="dz-error-mark"><i class="fa fa-times-circle-o"></i></div><div class="dz-error-message"><span data-dz-errormessage></span></div></div></div></div><div class="progress progress-striped active"><div class="progress-bar progress-bar-success" data-dz-uploadprogress></div></div></div>',

                            resize: function(file) {
                                var info = { srcX: 0, srcY: 0, srcWidth: file.width, srcHeight: file.height },
                                    srcRatio = file.width / file.height;
                                if (file.height > this.options.thumbnailHeight || file.width > this.options.thumbnailWidth) {
                                    info.trgHeight = this.options.thumbnailHeight;
                                    info.trgWidth = info.trgHeight * srcRatio;
                                    if (info.trgWidth > this.options.thumbnailWidth) {
                                        info.trgWidth = this.options.thumbnailWidth;
                                        info.trgHeight = info.trgWidth / srcRatio;
                                    }
                                } else {
                                    info.trgHeight = file.height;
                                    info.trgWidth = file.width;
                                }
                                return info;
                            }
                        });
                    });

        $('#file').pixelFileInput({ placeholder: 'Aucun fichier selectionné...' });
        $("#languages").select2({
            allowClear: true,
            placeholder: "Selectionnez..."
        });
        $('.datepick').datepicker({
            todayBtn: "linked",
            format: 'yyyy-mm-dd'
           });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css" media="screen">
    .thumbnail{
       cursor: pointer;
    }
    </style>
{% endblock %} 
