{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block titlepage %}<i class="fa fa-film"></i>&nbsp;&nbsp;Les films <span class="label label-danger">{{ entities.getTotalItemCount}}</span>{% endblock %}


{% block content %}
    <div class="row well">
        <a href="{{ path('movies_new') }}" class="pull-right btn btn-primary btn-md btn-labeled">
            <span class="btn-label icon fa fa-plus"></span>  Créer un film
        </a>
    </div>

    <ul class="nav nav-tabs pull-right">
        <li class="active">
            <a href="#actus" data-toggle="tab">Actualités <span class="label label-success">{{ entities.getTotalItemCount}}</span></a>
        </li>
        <li>
            <a href="#next" data-toggle="tab">Prochainement <span class="badge badge-info">{{ entities_next.getTotalItemCount}}</span></a>
        </li>
        <li>
            <a href="#archived" data-toggle="tab">Archivés <span class="badge badge-danger">{{ entities_archived.getTotalItemCount}}</span></a>
        </li>
    </ul>
    <div class="tab-content">
    
    <div class="tab-pane fade active in" id="actus">
        <div class="table-light">
        <table class="records_list  table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% if entities.isSorted('a.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Titre', 'a.title') }}</th>
                    <th>Synopsis</th>
                    <th>Réalisateurs</th>
                    <th>Acteurs</th>
                    <th>{% if entities.isSorted('a.dateRelease') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Date de sortie', 'a.dateRelease') }}</th>
                    <th>Archivé</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for entity in entities %}
                    <tr>
                        <td class="col-md-1">
                            <a data-url="{{ path('movies_favoris', {'id' : entity.id }) }}" class="favoris_link btn btn-warning btn-xs btn-labeled">
                                <span class="btn-label icon fa fa-star-o"></span>  Ajouter au panier
                            </a>
                            </td>
                        <td class="text-success col-md-3"><a href="{{ path('movies_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td  class="smalltext">{{ entity.synopsis|striptags|truncate(350,true, "...") }}</td>
                        <td>
                            {% for entity in entity.directors %}
                                <a href="{{ path('directors_show', { 'id': entity.id }) }}">{{ entity.firstname|title }}
                                {{ entity.lastname|title }}
                                </a>
                            {% endfor %}
                        </td>
                        <td class="text-primary"><i class="fa fa-group"></i> {{ entity.actors|length|default('0') }}</td>
                        <td>{% if entity.dateRelease %}<i class="fa fa-calendar"></i> {{ entity.dateRelease|date('d/m/Y') }}{% endif %}</td>
                         <td>
                            <input type="checkbox" data-id="{{ entity.id }}" data-url="{{ path('movies_archived', {'id' : entity.id }) }}" class="enabled" data-class="switcher-primary"
                           >
                        </td>   
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-flat btn-labeled btn-sm dropdown-toggle" data-toggle="dropdown"><span class="btn-label icon fa fa-gear"></span>Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a  href="{{ path('movies_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a></li>
                                   <li><a href="{{ path('movies_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                                   <li><a  href="{{ path('movies_delete_link', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-remove"></i> Remove</a></li>
                                   {% if entity.visible == "true" %}
                                       <li><a  href="{{ path('movies_activation', { 'id': entity.id, 'activation': 0 }) }}"><i class="glyphicon glyphicon-remove"></i> Désactiver</a></li>
                                   {% else %}
                                       <li><a   href="{{ path('movies_activation', { 'id': entity.id, 'activation': 1 }) }}"><i class="glyphicon glyphicon-ok"></i> Activer</a></li>
                                   {% endif %}

                                    {% if entity.cover == "true" %}
                                        <li><a  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 0 }) }}"><i class="glyphicon glyphicon-star-empty"></i> Retirer de l'avant</a></li>
                                    {% else %}
                                        <li><a  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 1 }) }}"><i class="glyphicon glyphicon-star"></i> Mettre en avant</a></li>
                                    {% endif %}

                                    <li><a  href="{{ path('movies_medias', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-picture"></i> Medias</a></li>

                                    <li><a  href="{{ path('movies_pdf', { 'id': entity.id }) }}"><i class="fa fa-file"></i> PDF</a></li>


                                </ul>
                            </div>
                         

                        </td>
                    </tr>
                    {% else %}
                        <tr><td colspan="7">
                            <div class="alert alert-danger">
                                Pas de films pour le moment.
                            </div>
                        </td></tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="table-footer">
                <div class="table-caption">
                    <div class="pull-right">
                    {{ knp_pagination_render(entities) }}
                    </div>
                    <div class="pull-right">
                      {{ include('CinheticPublicBundle:Slots:display.html.twig') }}
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>




<div class="tab-pane fade in" id="next">
    <div class="table-light">
        <table class="records_list  table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% if entities.isSorted('a.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Titre', 'a.title') }}</th>
                    <th>Synopsis</th>
                    <th>Réalisateurs</th>
                    <th>Acteurs</th>
                    <th>{% if entities.isSorted('a.dateRelease') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Date de sortie', 'a.dateRelease') }}</th>
                    <th>Archivé</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for entity in entities_next %}
                    <tr>
                        <td><a data-url="{{ path('movies_favoris', {'id' : entity.id }) }}" class="favoris_link"><i class="fa {% if entity.id in app.request.session.get('stars') %}fa-star{% else %} fa-star-o{% endif %}"></i></a></td>
                        <td class="text-success"><a href="{{ path('movies_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                       <td class="smalltext">{{ entity.synopsis|striptags|truncate(350,true, "...") }}</td>

                        <td>
                            {% for entity in entity.directors %}
                                <a href="{{ path('directors_show', { 'id': entity.id }) }}">{{ entity.firstname|title }}
                                {{ entity.lastname|title }}
                                </a>
                            {% endfor %}
                        </td>
                        <td class="text-primary"><i class="fa fa-group"></i> {{ entity.actors|length|default('0') }}</td>
                        <td>{% if entity.dateRelease %}<i class="fa fa-calendar"></i> {{ entity.dateRelease|date('d/m/Y') }}{% endif %}</td>
                         <td>
                            <input type="checkbox" data-id="{{ entity.id }}" data-url="{{ path('movies_archived', {'id' : entity.id }) }}" class="enabled" data-class="switcher-primary"
                           >
                        </td>   
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-flat btn-labeled btn-sm dropdown-toggle" data-toggle="dropdown"><span class="btn-label icon fa fa-gear"></span>Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a  href="{{ path('movies_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a></li>
                                   <li><a href="{{ path('movies_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                                   <li><a  href="{{ path('movies_delete_link', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-remove"></i> Remove</a></li>
                                   {% if entity.visible == "true" %}
                                       <li><a  href="{{ path('movies_activation', { 'id': entity.id, 'activation': 0 }) }}"><i class="glyphicon glyphicon-remove"></i> Désactiver</a></li>
                                   {% else %}
                                       <li><a   href="{{ path('movies_activation', { 'id': entity.id, 'activation': 1 }) }}"><i class="glyphicon glyphicon-ok"></i> Activer</a></li>
                                   {% endif %}

                                    {% if entity.cover == "true" %}
                                        <li><a  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 0 }) }}"><i class="glyphicon glyphicon-star-empty"></i> Retirer de l'avant</a></li>
                                    {% else %}
                                        <li><a  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 1 }) }}"><i class="glyphicon glyphicon-star"></i> Mettre en avant</a></li>
                                    {% endif %}

                                    <li><a  href="{{ path('movies_medias', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-picture"></i> Medias</a></li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                    {% else %}
                        <tr><td colspan="7">
                            <div class="alert alert-danger">
                                Pas de films pour le moment.
                        </div>
                        </td></tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="table-footer">
                <div class="table-caption">
                    <div class="pull-right">
                    {{ knp_pagination_render(entities_next) }}
                    </div>
                    <div class="pull-right">
                      {{ include('CinheticPublicBundle:Slots:display.html.twig') }}
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>



<div class="tab-pane fade in" id="archived">
    <div class="table-light">
        <table class="records_list  table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% if entities.isSorted('a.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Titre', 'a.title') }}</th>
                    <th>Synopsis</th>
                    <th>Réalisateurs</th>
                    <th>Acteurs</th>
                    <th>{% if entities.isSorted('a.dateRelease') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Date de sortie', 'a.dateRelease') }}</th>
                    <th>Archivé</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for entity in entities_archived %}
                    <tr>
                         <td><a data-url="{{ path('movies_favoris', {'id' : entity.id }) }}" class="favoris_link"><i class="fa {% if entity.id in app.request.session.get('stars') %}fa-star{% else %} fa-star-o{% endif %}"></i></a></td>
                        <td class="text-success"><a href="{{ path('movies_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td class="smalltext">{{ entity.synopsis|striptags|truncate(350,true, "...") }}</td>
                        <td>
                            {% for entity in entity.directors %}
                                <a href="{{ path('directors_show', { 'id': entity.id }) }}">{{ entity.firstname|title }}
                                {{ entity.lastname|title }}
                                </a>
                            {% endfor %}
                        </td>
                        <td class="text-primary"><i class="fa fa-group"></i> {{ entity.actors|length|default('0') }}</td>
                        <td>{% if entity.dateRelease %}<i class="fa fa-calendar"></i> {{ entity.dateRelease|date('d/m/Y') }}{% endif %}</td>
                         <td>
                            <input type="checkbox" data-id="{{ entity.id }}" data-url="{{ path('movies_archived', {'id' : entity.id }) }}" class="enabled" data-class="switcher-primary"
                            {% if entity.dateDeleted is not empty %} checked="checked" {% endif %}>
                        </td>   
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-flat btn-labeled btn-sm dropdown-toggle" data-toggle="dropdown"><span class="btn-label icon fa fa-gear"></span>Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a  href="{{ path('movies_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a></li>
                                   <li><a href="{{ path('movies_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a></li>
                                   <li><a  href="{{ path('movies_delete_link', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-remove"></i> Remove</a></li>
                                   {% if entity.visible == "true" %}
                                       <li><a  href="{{ path('movies_activation', { 'id': entity.id, 'activation': 0 }) }}"><i class="glyphicon glyphicon-remove"></i> Désactiver</a></li>
                                   {% else %}
                                       <li><a   href="{{ path('movies_activation', { 'id': entity.id, 'activation': 1 }) }}"><i class="glyphicon glyphicon-ok"></i> Activer</a></li>
                                   {% endif %}

                                    {% if entity.cover == "true" %}
                                        <li><a  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 0 }) }}"><i class="glyphicon glyphicon-star-empty"></i> Retirer de l'avant</a></li>
                                    {% else %}
                                        <li><a  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 1 }) }}"><i class="glyphicon glyphicon-star"></i> Mettre en avant</a></li>
                                    {% endif %}
                                    
                                    <li><a  href="{{ path('movies_medias', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-picture"></i> Medias</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                        <tr><td colspan="7">
                            <div class="alert alert-danger">
                                Pas de films pour le moment.
                        </div>
                        </td></tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="table-footer">
                <div class="table-caption">
                    <div class="pull-right">
                    {{ knp_pagination_render(entities_archived) }}
                    </div>
                    <div class="pull-right">
                      {{ include('CinheticPublicBundle:Slots:display.html.twig') }}
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>


    {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css" media="screen">
        
         @media only screen and (max-width: 800px) {
            table.table td:nth-child(1),table.table td:nth-child(3),table.table td:nth-child(5),table.table td:nth-child(7),table.table td:nth-child(4),table.table td:nth-child(0),table td:nth-child(6),
            table.table th:nth-child(6),table.table th:nth-child(1),table.table th:nth-child(3),table.table th:nth-child(7),table.table th:nth-child(5),table.table th:nth-child(4),table.table th:nth-child(0)
             {display: none;}
         }
         
        @media only screen and (max-width: 640px) {
            table.table td:nth-child(1),table.table td:nth-child(3),table.table td:nth-child(5),table.table td:nth-child(7),table.table td:nth-child(4),table.table td:nth-child(0),table td:nth-child(6),
            table.table th:nth-child(6),table.table th:nth-child(1),table.table th:nth-child(3),table.table th:nth-child(7),table.table th:nth-child(5),table.table th:nth-child(4),table.table th:nth-child(0)
             {display: none;}
        } 

    </style>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
    <script>
        init.push(function () {
            $('.enabled').switcher();
            $('.switcher-primary :checkbox').click(function () {
                $obj = $(this);
                    $.ajax({
                        url: $(this).attr('data-url'),
                        type: "get",
                        dataType: "json",
                        data: {'id' : $(this).attr('data-id')},
                        success: function (data) {
                           $obj.parents('tr').fadeOut('slow');
                        }
                    }); 

            });
        });
    </script>
{% endblock %}