{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-film"></i>&nbsp;&nbsp;Les films{% endblock %}


{% block content %}

<div class="table-light">
    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>{% if entities.isSorted('a.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Titre', 'a.title') }}</th>
                <th>Synopsis</th>
                <th>Réalisateurs</th>
                <th>Acteurs</th>
                <th>{% if entities.isSorted('a.dateRelease') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Date de sortie', 'a.dateRelease') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="text-success"><a href="{{ path('movies_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.synopsis|convert_encoding( 'iso-8859-1', 'UTF-8') |striptags|truncate(350,true, "...") }}</td>
                <td>
                    {% for entity in entity.directors %}
                        <a href="{{ path('directors_show', { 'id': entity.id }) }}">{{ entity.firstname|title }}
                        {{ entity.lastname|title }}
                        </a>
                    {% endfor %}
                </td>
                <td class="text-primary"><i class="fa fa-group"></i> {{ entity.actors|length|default('0') }}</td>
                <td>{% if entity.dateRelease %}<i class="fa fa-calendar"></i> {{ entity.dateRelease|date('d/m/Y') }}{% endif %}</td>
                <td>
                           <a class="btn btn-primary btn-sm"  href="{{ path('movies_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>
                           <a class="btn btn-warning btn-sm"  href="{{ path('movies_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>
                           <a class="btn btn-danger btn-sm"  href="{{ path('movies_delete_link', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-remove"></i> Remove</a>
                           {% if entity.visible == "true" %}
                               <a class="btn btn-info btn-sm"  href="{{ path('movies_activation', { 'id': entity.id, 'activation': 0 }) }}"><i class="glyphicon glyphicon-remove"></i> Désactiver</a>
                           {% else %}
                               <a class="btn btn-info btn-sm"  href="{{ path('movies_activation', { 'id': entity.id, 'activation': 1 }) }}"><i class="glyphicon glyphicon-ok"></i> Activer</a>
                           {% endif %}

                            {% if entity.cover == "true" %}
                                <a class="btn btn-info btn-sm"  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 0 }) }}"><i class="glyphicon glyphicon-star-empty"></i> Retirer de l'avant</a>
                            {% else %}
                                <a class="btn btn-info btn-sm"  href="{{ path('movies_cover', { 'id': entity.id, 'cover': 1 }) }}"><i class="glyphicon glyphicon-star"></i> Mettre en avant</a>
                            {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="table-footer">
            <div class="table-caption">
                <div class="pull-right">
                {{ knp_pagination_render(entities) }}
                    <th>
                        <select id="display" name="display" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </th>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
    <hr />
    <a class="btn btn-danger"  href="{{ path('movies_new') }}">
        <i class="glyphicon glyphicon-plus"></i>  Création de film
    </a>

    {% endblock %}
