{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-search"></i>&nbsp;&nbsp;Fiche de film{% endblock %}

{% block content %}
    {% for entity in entity.tags %}
        <a class="label label-primary label-tag">{{ entity.word }}</a>
    {% endfor %}

    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="{{ base_url ~ imgmovies ~ entity.image }}" alt="...">

                 <a class="btn btn-success btn-labeled pull-right" data-toggle="modal" data-target="#modal-blurred-img"><span class="btn-label icon fa fa-search"></span>
                    Voir l'image en grand</a>
                
                <div id="modal-blurred-img" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ base_url ~ imgmovies ~ entity.image }}" alt="...">
                            </div>
                        </div> <!-- / .modal-content -->
                    </div> <!-- / .modal-dialog -->
                </div> <!-- / .modal -->
            </div>
            <div class="col-md-7">
                <h1 class="featurette-heading">{{ entity.title|title }}<span class="text-muted"> ({{ entity.annee }})</span></h1>
                <span>Type de film : {{ entity.typeFilm }}</span>
                <p class="">{{ entity.synopsis|raw }}</p>
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
            <div class="">
                <p class="">{{ entity.description|raw }}</p>
            </div>
        </div>
    </div>


        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Bande annonce</a></li>
            <li><a href="#profile" data-toggle="tab" class="cercles">Informations</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#acteurs" data-toggle="tab">Autres</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home"><br>
                <div class="row">
                    <div class="col-md-5 col-md-offset-3">
                            {{ entity.trailer|raw }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="profile"><br>
                <div class="container marketing">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" attr-value="{{ entity.duree }}" data-step="0.1" data-max="10" readOnly="true" data-fgColor="#E74C3C" class="dial">
                            <h2>Durée (heures)</h2>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" attr-value="{{ entity.budget }}" readOnly="true" data-max="3000000" data-fgColor="#3498DB" class="dial">
                            <h2>Budget (€)</h2>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" attr-value="{{ entity.notePresse }}" data-step="0.1"  readOnly="true" data-max="5" data-fgColor="#9B59B6" class="dial">
                            <h2>Note de presse</h2>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Histoire</h3>
                        <p>{{ entity.description|raw }}</p>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="messages"><br>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for i in 0..(entity.medias|length - 1) %}
                                    <li data-target="#myCarousel" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for entity in entity.medias %}
                                    <div class="item{% if loop.index == 1%} active{% endif %}">
                                        {% if entity.nature == "1" %}
                                            <img src="{{ entity.picture|raw }}">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="acteurs">

                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Les acteurs</h2>
                            {% for entity in entity.actors %}
                                <p>
                                    {{ entity.firstname|title }}
                                    {{ entity.lastname|title }}
                                </p>
                            {% endfor %}
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Les réalisateurs</h2>
                        {% for entity in entity.directors %}
                            <p>
                                {{ entity.firstname|title }}
                                {{ entity.lastname|title }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Les cinémas</h2>
                        {% for entity in entity.cinemas %}
                            <p>
                                {{ entity.title|title }} à {{ entity.ville|title }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>

    <a class="btn btn-primary" href="{{ path('movies_edit', { 'id': entity.id }) }}">
    Edit
    </a>
    {{ form(delete_form, {'attr' : {'style' : 'display:inline-block'} } ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@CinheticPublicBundle/Resources/public/js/knob.js'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('#myTab a:first').tab('show');
            $(".dial").knob();
            $('#myTab').on('click', "a.cercles", function(){
                $('.dial').each(function()
                {
                    $(this).animate(
                        {
                            value : parseInt($(this).attr('attr-value')),
                        },
                        {
                            duration: 1000,
                            progress : function(){
                                console.log(this.value)
                                $(this).val(this.value).trigger('change')
                            }
                        }
                    );
                });
            })
        });
    </script>
{% endblock %}