{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% import 'LexikPayboxBundle:Macro:paybox.html.twig' as paybox %}

{% block titlepage %}<i class="fa fa-search"></i>&nbsp;&nbsp;Fiche de film {{ entity.title|title }}
  <a class="btn btn-primary btn-labeled" href="{{ path('movies_edit', { 'id': entity.id }) }}">
   <span class="btn-label icon fa fa-pencil"></span> Editer ce film
    </a>
{% endblock %}

{% block content %}
<p class="pull-right label label-info">Modifiée il y a {{ entity.dateUpdated|ago }}</p>
    {% for entity in entity.tags %}
        <a class="label label-primary label-tag">{{ entity.word }}</a>
    {% endfor %}

    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="{{ base_url ~ imgmovies ~ entity.image }}" alt="...">

                 <a class="btn btn-success btn-labeled pull-right" data-toggle="modal" data-target="#modal-blurred-img"><span class="btn-label icon fa fa-search"></span>
                    Voir l'image en grand</a>
                
                <div id="modal-blurred-img" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="{{ base_url ~ imgmovies ~ entity.image }}" alt="...">
                            </div>
                        </div> <!-- / .modal-content -->
                    </div> <!-- / .modal-dialog -->
                </div> <!-- / .modal -->
            </div>
            <div class="col-md-7">
                {% if entity.shop == "true" %}
                    <form action="{{ url }}" class="pull-right" method="post">
                        {{ paybox.form(form) }}
                        <button class="btn btn-danger btn-md btn-labeled" type="submit">
                            <span class="btn-label icon fa fa-shopping-cart"></span> Commander
                        </button>
                    </form>
                {% endif %}

                <h1>{{ entity.title|title }}<span class="text-muted"> ({{ entity.annee }})</span></h1>
                <hr />
                <span class="label label-warning">Type de film : {{ entity.typeFilm }}</span>
                 <span class="label label-warning pull-right">Production : {{ entity.distributeur }}</span>
                
                <br /><br />

                <div class="panel colourable">
                    <p class=""><strong>Synopsis:</strong> {{ entity.synopsis|raw }}</p>
                </div>
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
            <div class="">
                <p class=""><strong>Description:</strong> {{ entity.description|raw }}</p>
            </div>
        </div>
    </div>

        <h3>Bande annonce</h3>

        <div class="well">
            {{ embed.html|raw }}
        </div>

        <h3>Informations</h3>
       <div class="row">
            <div class="col-lg-4">
                <input type="text" attr-value="{{ entity.duree }}" data-step="0.1" data-max="10" readOnly="true" data-fgColor="#E74C3C" class="dial">
                <p>Durée (heures)</p>
            </div>
            <div class="col-lg-4">
                <input type="text" attr-value="{{ entity.budget }}" readOnly="true" data-max="3000000" data-fgColor="#3498DB" class="dial">
                <p>Budget (€)</p>
            </div>
            <div class="col-lg-4">
                <input type="text" attr-value="{{ entity.notePresse }}" data-step="0.1"  readOnly="true" data-max="5" data-fgColor="#9B59B6" class="dial">
                <p>Note de presse</p>
            </div>
        </div>
        <hr />
         <div class="row">
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Les acteurs</h2>
                            {% for entity in entity.actors %}
                                <p>
                                    {{ entity.firstname|title }}
                                    {{ entity.lastname|title }}
                                </p>
                            {% endfor %}
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Les réalisateurs</h2>
                        {% for entity in entity.directors %}
                            <p>
                                {{ entity.firstname|title }}
                                {{ entity.lastname|title }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>Les cinémas</h2>
                        {% for entity in entity.cinemas %}
                            <p>
                                {{ entity.title|title }} à {{ entity.ville|title }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
    </div>
</div>

  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
  init.push(function () {
        $(".dial").knob();
    });
    </script>
 
{% endblock %}