{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-list"></i>&nbsp;&nbsp;Les categories{% endblock %}

{% block content %}
<div class="table-light">
    <table data-url='{{  path("categories_position") }}' class="records_list table table-striped">
        <thead>
            <tr>
                <th>{% if entities.isSorted('a.id') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>

                <th>{% if entities.isSorted('a.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Titre', 'a.title') }}</th>
                <th>Description</th>
                <th>Position</th>
                <th>Films</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="category_{{ entity.id }}">
                <td><a href="{{ path('categories_show', {'id' : entity.id}) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('categories_show', {'id' : entity.id}) }}">{{ entity.title }}</a></td>
                <td>{{ entity.description|raw }}</td>
                <td><i class="fa fa-arrows"></i></td>
                <td class="text-success"><i class="fa fa-folder"></i> {{ entity.movies|length|default("0") }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('categories_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>

                    <a class="btn btn-warning btn-sm" href="{{ path('categories_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>
                </td>
            </tr>
            {% else %}
                    <tr><td colspan="5">
                        <div class="alert alert-danger">
                            Pas de films pour le moment.
                    </div>
                    </td></tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="table-footer">
            <div class="table-caption">
                <div class="pull-right">
                {{ knp_pagination_render(entities) }}
                </div>
                <div class="pull-right">
                  {{ include('CinheticPublicBundle:Slots:display.html.twig') }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
    <hr />

    <a class="btn btn-danger" href="{{ path('categories_new') }}">
        <i class="glyphicon glyphicon-plus"></i>  Creation de la catégorie
    </a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {

            $('#content-wrapper table.table tbody td, #content-wrapper table.table tbody th', '#content-wrapper table.table').each(function () {
                var cell = $(this);
                cell.width(cell.width());
            });

            $('#content-wrapper table.table tbody').sortable({
                items: '> tr',
                forcePlaceholderSize: true,
                dropOnEmpty: false,
                distance: 45,
                revert: 150,
                delay: 300,
                handle: ".fa-arrows",
                placeholder:'must-have-class',
                opacity: 0.6,
                update: function(event, ui) {
                    var info =  $(this).sortable("serialize");
                    $.ajax({
                        type: "POST",
                        url: $('#content-wrapper table.table').attr('data-url'),
                        data: {"datas" : info},
                        success: function(){
                            $('#content-wrapper table.table').effect("highlight", {}, 3000); 
                        }
                    });

                },
                start: function (event, ui) {
                    // Build a placeholder cell that spans all the cells in the row
                    var cellCount = 0;
                    $('td, th', ui.helper).each(function () {
                        // For each TD or TH try and get it's colspan attribute, and add that or 1 to the total
                        var colspan = 1;
                        var colspanAttr = $(this).attr('colspan');
                        if (colspanAttr > 1) {
                            colspan = colspanAttr;
                        }
                        cellCount += colspan;
                    });

                    // Add the placeholder UI - note that this is the item's content, so TD rather thanTR
                    ui.placeholder.html('<td colspan="' + cellCount + '">&nbsp;</td>');
                }
            }).disableSelection();

        });
    </script>
{% endblock %}
