{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-list"></i>&nbsp;&nbsp;Les categories{% endblock %}

{% block content %}
    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Films</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categories_show', {'id' : entity.id}) }}">{{ entity.title }}</a></td>
                <td>{{ entity.description|raw }}</td>
                <td class="text-success"><i class="fa fa-folder"></i> {{ entity.movies|length|default("0") }}</td>
                <td>

                        <a class="btn btn-primary btn-sm" href="{{ path('categories_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>

                        <a class="btn btn-warning btn-sm" href="{{ path('categories_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

    <a class="btn btn-danger" href="{{ path('categories_new') }}">
        <i class="glyphicon glyphicon-plus"></i>  Creation de la catégorie
    </a>

    {% endblock %}
