{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-search"></i>&nbsp;&nbsp;Catégorie {{ entity.title|title}}{% endblock %}


{% block content %}

        <h1 style="margin-left:0">{{ entity.title|title}}</h1>
        <p>{{ entity.description|raw }}</p>
        {% if entity.movies is not empty %}
            <div class="row">
                <div class="col-md-12">
                    <h3 style="margin-left:0">Les films de cette catégorie</h3>
                    <div class="list-group">
                        {% for entity in entity.movies %}
                            <a href="{{ path('movies_show', { 'id': entity.id }) }}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ entity.title|title }}</h4>
                                <p class="list-group-item-text">{{ entity.synopsis|truncate(500,true,'...') }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
        {% endif %}

           <a class="pull-right btn-labeled btn btn-primary" href="{{ path('categories_edit', { 'id': entity.id }) }}">
               <i class="fa fa-pencil"></i> Editer cette catégorie
            </a>
{% endblock %}
