{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-flag"></i>&nbsp;&nbsp;Cinemas{% endblock %}


{% block content %}
<div class="table-light">
    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>{% if entities.isSorted('a.title') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Titre', 'a.title') }}</th>
                <th>{% if entities.isSorted('a.ville') and app.request.query.get('direction') == "desc" %} <i class="fa fa-arrow-circle-up"></i>{% else %}<i class="fa fa-arrow-circle-down"></i>{% endif %} {{ knp_pagination_sortable(entities, 'Ville', 'a.ville') }}</th>
                <th>Séances</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="text-success"><a href="{{ path('cinema_show', {'id' : entity.id}) }}">{{ entity.title }}</a></td>
                <td><a href="{{ path('movies_cities', {'ville': entity.ville }) }}"><span class="badge"> <i class="glyphicon glyphicon-map-marker"></i> {{ entity.ville }}</span></a></td>
                <td class="text-primary"><i class="fa fa-play"></i> {{ entity.sessions|length|default('0') }} séances</td>
                <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('cinema_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Voir</a>

                        <a class="btn btn-warning btn-sm" href="{{ path('cinema_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-pencil"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="table-footer">
            <div class="table-caption">
                <div class="pull-right">
                {{ knp_pagination_render(entities) }}
                    <th>
                        <select id="display" name="display" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="500">500</option>
                        </select>
                    </th>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
</div>

    <hr />

    <a class="btn btn-danger" href="{{ path('cinema_new') }}">
        <i class="glyphicon glyphicon-plus"></i> Créer un nouveau cinéma
    </a>

    {% endblock %}
