{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">

        /* Déclaration des variables  */
        var geocoder;
        var map;
        var markers = new Array();
        var i = 0;

        /* Initialisation de la carte  */
        function initialize() {
            /* Instanciation du geocoder  */
            geocoder = new google.maps.Geocoder();
            var paris = new google.maps.LatLng(48.8566667, 2.3509871);
            var myOptions = {
                zoom: 4,
                center: paris,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            /* Chargement de la carte  */
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        }

        /* Fonction de géocodage déclenchée en cliquant surle bouton "Geocoder"  */
        function codeAddress() {
            /* Récupération de la valeur de l'adresse saisie */
            var address = "{{ entity.ville }}";
            /* Appel au service de geocodage avec l'adresse en paramètre */
            geocoder.geocode( { 'address': address}, function(results, status) {
                /* Si l'adresse a pu être géolocalisée */
                if (status == google.maps.GeocoderStatus.OK) {

                    map.setCenter(results[0].geometry.location);
                    /* Affichage du marker */
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    /* Permet de supprimer le marker précédemment affiché */
                    markers.push(marker);
                    if(markers.length > 1)
                        markers[(i-1)].setMap(null);
                    i++;
                } else {
                    alert("Le geocodage n\'a pu etre effectue pour la raison suivante: " + status);
                }
            });
        }
        initialize();
        codeAddress();
    </script>
{% endblock %}

{% block content %}
    <div class="well">
        <h1>Cinema {{ entity.title }} {{ entity.ville }}</h1>

        <div id="map_canvas"></div>

        <h3>Les films à ce cinéma</h3>
        <hr class="featurette-divider">
        {% for movie in entity.movies %}
            <div class="row featurette">
                    <div class="col-md-5">
                       <a href="{{ path('movies_show', { 'id': movie.id }) }}">
                            {% if cover[movie.id] is defined %}
                                <img class="featurette-image img-responsive" src="{{ cover[movie.id] }}">
                            {% else %}
                                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
                            {% endif %}
                       </a>
                    </div>

                    <div class="col-md-7">
                        <h2 class="featurette-heading">{{ movie.title|title }}</h2>
                        <p class="lead">Séances :</ps>
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-group">
                                    {% for session in entity.sessions %}
                                        {% if session.movies.id is sameas(movie.id) %}
                                            <li class="list-group-item"><a href="{{ path('sessions_show', { 'id': session.id }) }}">{% if session.dateSession %}Le {{ session.dateSession|date('Y-m-d') }} à {{ session.dateSession|date('H:i') }}{% endif %}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="featurette-divider">
        {% endfor %}

        <a class="btn" href="{{ path('cinema_edit', { 'id': entity.id }) }}">
            Editer
        </a>
        {{ form(delete_form) }}
    </div>
{% endblock %}
