{% extends "FOSUserBundle::layout_disconnect.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="container">

    <div class="span12">
        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            <h2 class="text-center form-signin-heading"><i class="glyphicon glyphicon-off"></i> {{ 'auth.title'|trans({}, 'CinheticPublicBundle') }}</h2>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            {% if error is defined and error is not empty   %}
                <div class="alert alert-dismissable alert-danger">
                    <button class="close" data-dismiss="alert">×</button>
                    <i class="glyphicon glyphicon-warning-sign"></i> {{ 'auth.badcredentials'|trans({}, 'CinheticPublicBundle') }}
                </div>
            {% endif %}

            <div class="input-group">
                <input name="_username" value="{{ last_username }}" type="text" class="form-control" placeholder=" {{ 'auth.email'|trans({}, 'CinheticPublicBundle') }}"
                       required="required">
              <span class="input-group-btn">
                  <button class="btn btn-search btn-primary"><i class="glyphicon glyphicon-user"></i></button>
              </span>
            </div>
            <p></p>

            <div class="input-group">
                <input name="_password" type="password" class="form-control" placeholder=" {{ 'auth.passord'|trans({}, 'CinheticPublicBundle') }}" required="required">
              <span class="input-group-btn">
                  <button class="btn btn-search btn-primary"><i class="glyphicon glyphicon-flash"></i></button>
              </span>
            </div>

            <div class="well">
                <i class="glyphicon glyphicon-repeat"></i> <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me"> {{ 'auth.rememberme'|trans({}, 'CinheticPublicBundle') }}</label>
            </div>

            <br /><br />

            <button class="btn btn-lg btn-primary btn-block"  name="_submit" type="submit">
                <i class="glyphicon glyphicon-lock"></i>
                {{ 'security.login.submit'|trans }}
            </button>
        </form>

    </div>

{% endblock fos_user_content %}
