{% extends "CinheticPublicBundle::layout_disconnect.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@CinheticPublicBundle/Resources/public/css/login.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block topmenu %}
{% endblock %}

{% block fos_user_content %}
            


    <h1 class="form-header"><i class="glyphicon glyphicon-off"></i>  Authentification</h1>

            <form  id="signin-form_id" class="panel" action="{{ path("fos_user_security_check") }}" method="post">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                {% if error is defined and error is not empty   %}
                    <div class="alert alert-dismissable alert-danger">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="glyphicon glyphicon-warning-sign"></i> {{ 'auth.badcredentials'|trans({}, 'CinheticPublicBundle') }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <div class="input-group">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="_username" value="{{ last_username }}" id="username_id" type="text" class="form-control input-lg" placeholder=" {{ 'auth.email'|trans({}, 'CinheticPublicBundle') }}"
                           required="required">
                </div>
                </div>
                <p></p>

                 <div class="form-group signin-password">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
                        <input name="_password" type="password"  id="password_id" class="form-control input-lg"  placeholder=" {{ 'auth.passord'|trans({}, 'CinheticPublicBundle') }}" required="required">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me"> {{ 'auth.rememberme'|trans({}, 'CinheticPublicBundle') }}</label>
                        <i class="col-md-offset-1 glyphicon glyphicon-question-sign"></i> <a href="{{ path('CinheticPublicBundle_user') }}"> Pas encore inscrit ?</a>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                   <div class="form-actions">
                        <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg">
                    </div>
            </form>



    <div class="signin-with">
        <div class="header">ou se loguer avec</div>
        {% for owner in hwi_oauth_resource_owners() %}
            {% if owner == "facebook" %}
                <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
             {% elseif owner == "google" %}
                 <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
            {% elseif owner == "twitter" %}
                <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-lg btn-info rounded"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
            {% endif %}
        {% endfor %}

    </div>


{% endblock fos_user_content %}
